@media screen and (max-width: 375px) {
    .logo-div {
        padding-bottom: 10px;
    }

    .logo {
        display: table;
        margin: 0 auto;
    }

    .nav {
        display: table;
        margin: 0 auto;
    }

    .mais_icone {
        display: table;
        margin: 10px auto;
    }
}

@media screen and (min-width: 375px) {

    .logo-div {
        padding-bottom: 10px;
    }

    .logo {
        display: table;
        margin: 0 auto;
    }

    .nav {
        display: table;
        margin: 0 auto;
    }

    .mais_icone {
        display: table;
        margin: 10px auto;
    }
}

@media screen and (min-width: 824px) {

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1327px) {
    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-div {
        padding-bottom: 0px;
        width: 500px;
    }

    .logo {
        position: relative;
        left: -170px;
    }
}

.cabecalho {
    margin: 60px 80px;
}

.logo {
    height: 32px;
}

.nav-item {
    padding: 0px 25px;
    font-size: 1.2rem;
}

.nav-link {
    padding: 5px;
    text-decoration: none;
    color: inherit;
}

.mais_icone {
    height: 24px;
}

.mais_icone:hover {
    cursor: pointer;
}