@media screen and (max-width: 923px) {

    .nav > li{
        list-style-type: none;
        margin: 0;
        text-align: center;
    }

    .carousel-inner {
        height: 50vh;
    }

    .secao_1-menu {
        display: table;
        margin: 30px auto;
        width: 360px;
    }

    .secao_2-imagem {
        width: calc(100vw - 120px);
    }

    .secao_2-imagem img {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 924px) {

    .carousel-inner {
        height: 100vh;
    }

    .secao_1-menu {
        position: absolute;
        width: 360px;
        top: 250px;
        left: 60%;
    }

    .secao_2 {
        display: flex;
        justify-content: space-between;
    }

    .secao_2-descricao {
        width: calc(40vw - 60px);
    }

    .secao_2-imagem {
        width: calc(50vw - 60px);
    }

    .secao_2-imagem img {
        width: 100%;
        height: 100%;
    }
    
}

.secao_1 {
    width: 100vw;
    height: 100vh;
    display: table;
    margin: 0 auto;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.secao_1-menu {
    
    background-color: black;
    color: white;
    padding: 20px;
    height: 480px;
}

.secao_1-menu h3 {
    font-size: 1.6rem;
}

.form-group {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
}

.secao_2 {
    margin: 60px 80px;
}