.principal {
    margin: 60px 80px;
}

.principal h1 {
    margin-bottom: 30px;
}

.card-deck {
    padding-bottom: 30px;
}

.card-img-top {
    display: table;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
    width: 256px;
    height: 256px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}